services:
  app:
    container_name: ${APP_NAME}
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    env_file:
      - .env
    ports:
      - ${APP_PORT}:3000
    volumes:
      - .:/app
      - /app/node_modules